.App {

  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  max-width: 500px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  resize: none;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.result {
  font-family: Arial, sans-serif;
  font-size: 16px;
}